<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:0;margin-bottom:0">
    <!-- wp:pattern {"slug":"hero-dark"} /-->
    <!-- wp:pattern {"slug":"skills"} /-->
    <!-- wp:pattern {"slug":"popular-posts"} /-->
    <!-- wp:pattern {"slug":"portfolio"} /-->
    <!-- wp:pattern {"slug":"video"} /-->
    <!-- wp:pattern {"slug":"testimonials"} /-->
    <!-- wp:pattern {"slug":"social-media"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
